 <div class="modal-body gyro">
    {{#each ingredients}}
    <p>
    {{#if gyro}}
        <i class="material-icons">add_circle</i>
        {{name}}
    {{/if}}
    </p>
    {{/each}}
</div>

<div class="modal-body icecream">
    {{#each ingredients}}
    <p>
    {{#if icecream}}
        <i class="material-icons">add_circle</i>
        {{name}}
    {{/if}}
    </p>
    {{/each}}
</div>

<div class="modal-body pizza">
    {{#each ingredients}}
    <p>
    {{#if pizza}}
        <i class="material-icons">add_circle</i>
        {{name}}
    {{/if}}
    </p>
    {{/each}}
</div>

<div class="modal-body sandwich">
    {{#each ingredients}}
    <p>
    {{#if sandwich}}
        <i class="material-icons">add_circle</i>
        {{name}}
    {{/if}}
    </p>
    {{/each}}
</div>

<div class="modal-body kebab">
    {{#each ingredients}}
        <p>
    {{#if kebab}}
        <i class="material-icons">add_circle</i>
        {{name}}
    {{/if}}
    </p>
    {{/each}}
</div>

<div class="modal-body salad">
    {{#each ingredients}}
    <p>
    {{#if salad}}
        <i class="material-icons">add_circle</i>
        {{name}}
    {{/if}}
    </p>
    {{/each}}
</div>

<div class="modal-body hamburger">
    {{#each ingredients}}
    <p>
    {{#if hamburger}}
        <i class="material-icons">add_circle</i>
        {{name}}
    {{/if}}
    </p>
    {{/each}}
</div>

<div class="modal-body fries">
    {{#each ingredients}}
    <p>
    {{#if fries}}
        <i class="material-icons">add_circle</i>
        {{name}}
    {{/if}}
    </p>
    {{/each}}
</div>

<div class="modal-body soda">
    {{#each ingredients}}
    <p>
    {{#if soda}}
        <i class="material-icons">add_circle</i>
        {{name}}
    {{/if}}
    </p>
    {{/each}}
</div>

<div class="modal-body hotdog">
    {{#each ingredients}}
    <p>
    {{#if hotdog}}
        <i class="material-icons">add_circle</i>
        {{name}}
    {{/if}}
    </p>
    {{/each}}
</div>

<div class="modal-body coffee">
    {{#each ingredients}}
    <p>
    {{#if coffee}}
        <i class="material-icons">add_circle</i>
        {{name}}
    {{/if}}
    </p>
    {{/each}}
</div>