<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/stand.png" id="icon" class="icon">
    Tom's Restaurant
  </a>
</nav>

<h2>Click on the picture of what you want to order to add to your tray</h2>

<div id="tray">
  <div id="items">
  </div>
</div>

<div class="container">
<div class="row">
      <figure class="col-md-1">
        <a class="black-text">
          <img alt="picture" src="assets/img/hamburger.png" class="img-fluid order" id="Hamburger" data-toggle="modal" data-target="#exampleModalCenter">
          <h5 class="text-center my-3">Hamburger</h5>
        </a>
      </figure>
      <figure class="col-md-1">
        <a class="black-text">
          <img alt="picture" src="assets/img/fries.png" class="img-fluid order" id="Fries" data-toggle="modal" data-target="#exampleModalCenter">
          <h5 class="text-center my-3">Fries</h5>
        </a>
      </figure>
      <figure class="col-md-1">
        <a class="black-text">
          <img alt="picture" src="assets/img/salad.png" class="img-fluid order" id="Salad" data-toggle="modal" data-target="#exampleModalCenter">
          <h5 class="text-center my-3">Salad</h5>
        </a>
      </figure>
      <figure class="col-md-1">
        <a class="black-text">
          <img alt="picture" src="assets/img/coffee.png" class="img-fluid order" id="Coffee" data-toggle="modal" data-target="#exampleModalCenter">
          <h5 class="text-center my-3">Coffee</h5>
        </a>
      </figure>
      <figure class="col-md-1">
        <a class="black-text">
          <img alt="picture" src="assets/img/kebab.png" class="img-fluid order" id="Kebab" data-toggle="modal" data-target="#exampleModalCenter">
          <h5 class="text-center my-3">Kebab</h5>
        </a>
      </figure>
      <figure class="col-md-1">
        <a class="black-text">
          <img alt="picture" src="assets/img/gyro.png" class="img-fluid order" id="Gyro" data-toggle="modal" data-target="#exampleModalCenter">
          <h5 class="text-center my-3">Gyro</h5>
        </a>
      </figure>
      <figure class="col-md-1">
        <a class="black-text">
          <img alt="picture" src="assets/img/hotdog.png" class="img-fluid order" id="Hotdog" data-toggle="modal" data-target="#exampleModalCenter">
          <h5 class="text-center my-3">Hot-dog</h5>
        </a>
      </figure>
      <figure class="col-md-1">
        <a class="black-text">
          <img alt="picture" src="assets/img/icecream.png" class="img-fluid order" id="Icecream" data-toggle="modal" data-target="#exampleModalCenter">
          <h5 class="text-center my-3">Ice Cream</h5>
        </a>
      </figure>
      <figure class="col-md-1">
        <a class="black-text">
          <img alt="picture" src="assets/img/pizza.png" class="img-fluid order" id="Pizza" data-toggle="modal" data-target="#exampleModalCenter">
          <h5 class="text-center my-3">Pizza Slice</h5>
        </a>
      </figure>
      <figure class="col-md-1">
        <a class="black-text">
          <img alt="picture" src="assets/img/sandwich.png" class="img-fluid order" id="Sandwich" data-toggle="modal" data-target="#exampleModalCenter">
          <h5 class="text-center my-3">Club Sandwich</h5>
        </a>
      </figure>
      <figure class="col-md-1">
        <a class="black-text">
          <img alt="picture" src="assets/img/soda.png" class="img-fluid order" id="Soda" data-toggle="modal" data-target="#exampleModalCenter">
          <h5 class="text-center my-3">Soda</h5>
        </a>
      </figure>
</div>
</div>

<button type="submit" id="submit">Place Order</button>

<br>
<br>

<button id="hello" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
        {{#each ingredients}}
          <li>
          {{name}}
          </li>
        {{/each}}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-to-order" data-dismiss="modal">Add to Order</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover">

    <thead class="thead-dark">
        
        <tr>
            <th scope="col" >#Order Number</th>
            <th scope="col">Dish</th>
            <th scope="col">Add to order</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    {{#each orders}}
    <tbody>
        <tr>
            <th scope="row">{{id}}</th>
            <td id="dish-name{{id}}">
                {{dish}}
            </td>
            <td>
                <button type="button" class="btn btn-primary add" data-type="{{id}}" >Add</button>
                <select class="another-dish" id="another-dish{{id}}">
                    <option value="">Add to your order!</option>
                    <option value="Kebab">Kebab</option>
                    <option value="Fries">Fries</option>
                    <option value="Hamburger">Hamburger</option>
                    <option value="Salad">Salad</option>
                    <option value="Coffee">Coffee</option>
                </select>
            </td>
            <td>
                <button type="button" class="btn btn-primary clicked" id="{{id}}">Preparing: {{delivered}}</button>
                <button type="button" class="btn btn-primary delete" id="{{id}}">X</button>
            </td>
        </tr>
    </tbody>
    {{/each}}
</table>

<div id="pop-up">
    <div id="pop-up-header">
        <p id="pop-head">Sorry!</p>
    </div>
    <div id="pop-up-body">
        <p id="pop-body">You can't edit a dish once your order has been placed, and you can only have five items per order!</p>
        <button id="continue">Continue</button>
    </div>
</div>


<footer>
    <div>
        Icons made by 
        <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> 
        from 
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
        is licensed by 
        <a href="http://creativecommons.org/licenses/by/3.0/"title="Creative Commons BY 3.0" target="_blank">
        CC 3.0 BY</a>
    </div>
</footer>

<script>


</script>
