<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/stand.png" id="icon" class="icon">
    Tom's Restaurant
  </a>
</nav>

<h2>Select a dish from the dropdown menu to begin ordering!</h2>

<div id="tray">
  <div id="items">
  </div>
</div>

<div class="container">
<div class="row">
      <figure class="col-md-4">
        <a class="black-text">
          <img alt="picture" src="assets/img/hamburger.png" class="img-fluid order" id="hamburger">
          <h5 class="text-center my-3">Hamburger</h5>
        </a>
      </figure>
      <figure class="col-md-4">
        <a class="black-text">
          <img alt="picture" src="assets/img/fries.png" class="img-fluid order" id="fries">
          <h5 class="text-center my-3">Fries</h5>
        </a>
      </figure>
      <figure class="col-md-4">
        <a class="black-text">
          <img alt="picture" src="assets/img/salad.png" class="img-fluid order" id="salad">
          <h5 class="text-center my-3">Salad</h5>
        </a>
      </figure>
      <figure class="col-md-4">
        <a class="black-text">
          <img alt="picture" src="assets/img/coffee.png" class="img-fluid order" id="coffee">
          <h5 class="text-center my-3">Coffee</h5>
        </a>
      </figure>
      <figure class="col-md-4">
        <a class="black-text">
          <img alt="picture" src="assets/img/kebab.png" class="img-fluid order" id="kebab">
          <h5 class="text-center my-3">Kebab</h5>
        </a>
      </figure>
      <figure class="col-md-4">
        <a class="black-text">
          <img alt="picture" src="assets/img/gyro.png" class="img-fluid order" id="gyro">
          <h5 class="text-center my-3">Gyro</h5>
        </a>
      </figure>
      <figure class="col-md-4">
        <a class="black-text">
          <img alt="picture" src="assets/img/hotdog.png" class="img-fluid order" id="hotdog">
          <h5 class="text-center my-3">Hot-dog</h5>
        </a>
      </figure>
      <figure class="col-md-4">
        <a class="black-text">
          <img alt="picture" src="assets/img/icecream.png" class="img-fluid order" id="icecream">
          <h5 class="text-center my-3">Ice Cream</h5>
        </a>
      </figure>
      <figure class="col-md-4">
        <a class="black-text">
          <img alt="picture" src="assets/img/pizza.png" class="img-fluid order" id="pizza">
          <h5 class="text-center my-3">Pizza Slice</h5>
        </a>
      </figure>
      <figure class="col-md-1">
        <a class="black-text">
          <img alt="picture" src="assets/img/sandwich.png" class="img-fluid order" id="sandwich">
          <h5 class="text-center my-3">Club Sandwich</h5>
        </a>
      </figure>
      <figure class="col-md-1">
        <a class="black-text">
          <img alt="picture" src="assets/img/soda.png" class="img-fluid order" id="soda">
          <h5 class="text-center my-3">Soda</h5>
        </a>
      </figure>
</div>
</div>

<form class="order-form">
    <select class="new-dish" id="dish">
        <option value="">Select a dish!</option>
        <option value="Kebab">Kebab</option>
        <option value="Fries">Fries</option>
        <option value="Hamburger">Hamburger</option>
        <option value="Salad">Salad</option>
        <option value="Coffee">Coffee</option>
    </select>

    <br><br>

    <div class="order-status">
        <input type="radio" name="status" value="0" checked> First item of order<br>
        <input type="radio" name="status" value="1"> Only item being ordered
    </div>

    <button type="submit">Begin Order</button>

</form>

<br>


<table class="table table-hover">

    <thead class="thead-dark">
        
        <tr>
            <th scope="col" >#Order Number</th>
            <th scope="col">Dish</th>
            <th scope="col">Add to order</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    {{#each orders}}
    <tbody>
        <tr>
            <th scope="row">{{id}}</th>
            <td id="dish-name{{id}}">
                {{dish}}
            </td>
            <td>
                <button type="button" class="btn btn-primary add" data-type="{{id}}" >Add</button>
                <select class="another-dish" id="another-dish{{id}}">
                    <option value="">Add to your order!</option>
                    <option value="Kebab">Kebab</option>
                    <option value="Fries">Fries</option>
                    <option value="Hamburger">Hamburger</option>
                    <option value="Salad">Salad</option>
                    <option value="Coffee">Coffee</option>
                </select>
            </td>
            <td>
                <button type="button" class="btn btn-primary clicked" id="{{id}}">Preparing: {{delivered}}</button>
                <button type="button" class="btn btn-primary delete" id="{{id}}">X</button>
            </td>
        </tr>
    </tbody>
    {{/each}}
</table>

<div id="pop-up">
    <div id="pop-up-header">
        <p id="pop-head">Sorry!</p>
    </div>
    <div id="pop-up-body">
        <p id="pop-body">You can't edit a dish once your order has been placed, and you can only have five items per order!</p>
        <button id="continue">Continue</button>
    </div>
</div>


<footer>
    <div>
        Icons made by 
        <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> 
        from 
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
        is licensed by 
        <a href="http://creativecommons.org/licenses/by/3.0/"title="Creative Commons BY 3.0" target="_blank">
        CC 3.0 BY</a>
    </div>
</footer>
