<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/stand.png" id="icon">
    Tom's Restaurant
  </a>
</nav>



<h2>Add an Order</h2>

<form class="order-form">

    <div class="new-dish">
        <label for="dish">Dish Name:</label>
        <input type="text" id="dish" name="name">
    </div>

    <br>

    <div class="order-status">
        <label for="status">Order Status</label><br>
        <input type="radio" name="status" value="0" checked> Being Prepared<br>
        <input type="radio" name="status" value="1"> Delivered to customer
    </div>

    <button type="submit">Add Order</button>

</form>

<br>


<table class="table table-hover">

    <thead class="thead-dark">
        
        <tr>
            <th scope="col" >#</th>
            <th scope="col">Dish</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    {{#each orders}}
    <tbody>
        <tr>
            <th scope="row">{{id}}</th>
            <td>
                Dish Name: {{dish_name}}
            </td>
            <td>
                <button type="button" class="btn btn-primary clicked" id="{{id}}">Preparing: {{delivered}}</button>
                <button type="button" class="btn btn-primary delete" id="{{id}}">X</button>
            </td>
        </tr>
    </tbody>
    {{/each}}
</table>



<footer>
    <div>
        Icons made by 
        <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> 
        from 
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
        is licensed by 
        <a href="http://creativecommons.org/licenses/by/3.0/"title="Creative Commons BY 3.0" target="_blank">
        CC 3.0 BY</a>
    </div>
</footer>